@import url('https://fonts.googleapis.com/css?family=Charm');


:root{
    --brightYellow:#f7c80c;
    --darkBrown:#bb9457;
    --yellow:rgb(245, 186, 91);
    --brown:#382923;
    --black:#191919;
    --grey:#e9ecea;
}
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   

}


body{
 color:var(--black);
 font-family: 'Charm', cursive;
 background: linear-gradient(rgba(255,255,255,0.80),rgba(255,255,255,0.80)),url('./medias/breaks.jpeg');

}




.header{
    height: 100vh;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.preloader{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:var(--brown);
    z-index: 999;
    display:grid;
    justify-content: center;
    align-items: center;
    transition: all .7s ease-in-out;
    
    

}



.preloader img{
 width: 200px;
 height: 200px;
 
}



@media screen and (max-width:800px){
    .header{
        background: url('./medias/coffee.jpeg') no-repeat fixed center center / cover;
    }
    .banner_title,.bell-fonts{
        display: none;
    }

    a{
        padding:1rem 1rem;
        font-size: 1rem;
        
    }
    .video_switch_container{
        display: none;
    }
  
}

.banner{
    text-align: center;
    z-index: 3;
   
}
.banner_title{
    font-size: 8rem;
    color:var(--yellow);
    text-transform: uppercase;

}

.banner_social_icons{
    display: inline-block;
    text-decoration: none;
    color:var(--black);
    border:.2rem solid var(--black);
    border-radius: 50%;
    padding: 1rem;
    transition: all .5s ease-in-out;
    margin: .3rem;
}
.banner_social_icons:hover{
    background: var(--brightYellow);
    color:var(--black);
}

.video_container{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: -1;

}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nabbtnt{
    font-size: 3rem;
    color:var(--yellow);
    position: fixed;
    right:4%;
    top:4%;
    cursor: pointer;
    animation-name: btn;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 44;
}

@keyframes btn {
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.5)
    }

    100%{
        transform: scale(1)
    }
}


.nav{
    position: fixed;
    background-color: rgba(243, 173, 60, 0.9);
    opacity: .8;
    width: 15%;
    top:0;
    left: 0;
    bottom:0;
    z-index: 15;
    transition: all .5s ease-in-out;
    width: 0;
    overflow: hidden;
    z-index: 22;

}

.hide-nav{
   width: 15%;
   overflow: auto;
}

.nav_single-link{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color:var(--brown);
    font-size: 2rem;
    padding: 1rem 1rem;
    font-weight: bold;
    transition: all .8s ease-in-out;
}

.nav_single-link:hover{
 background-color: var(--brown);
 color:white;
 padding-left: 2rem;
}
.nav_single-link img{
    border-radius: 50%;
}


.nav_link{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    top:10%;
}
.video_switch_container{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 2rem;
    z-index: 4;
    
}

.video_switch{
    position: relative;
    background-color: var(--yellow);
    width: 6rem;
    display: flex;
    justify-content: space-between;
    padding: .2rem;
    cursor: pointer;
    border-radius: .5rem;
}

.video_switch-btn{
    height: 100%;
    width: 50%;
    border-radius: .5rem;
    position: absolute;
    background-color: var(--brown);
    top:0;
    left: 0%;
    transition: all .5s ease-in-out
    

   
}

.btn_slide{
    
    left:50%;
}
.work-container{
    width: 90%;
    margin: 2rem auto;
}
.img{
    width: 100%;
    height: 100%;
    transition: block;
    opacity: 1;
    transition: all .8s ease-in-out;
    


}

.item{
  background-color: var(--yellow);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 
   
}

.item:hover .img{
    opacity: .7;
    transform: scale(1.2);
    cursor: pointer;
}

.item:hover .work-item_icon{
    transform: scale(1.2);
    opacity: 1;
}

.work-item_icon{
    text-decoration: none;
    font-size: 5rem;
    color:var(--yellow);
    position: absolute;
    transition: all .8s ease-in-out;
    opacity: 0;   
 
    
}



@media screen and (min-width:576px){

   .work-container{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-gap: 1rem;
   }

   .work-item_icon{
 
    font-size: 4rem;  
}
}

@media screen and (min-width:992px){

    .work-container{
        height: 120vh;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
        "item-1 item-1 item-2 item-3"
        "item-1 item-1 item-4 item-4"
        "item-5 item-6 item-7 item-7"
        "item-8 item-9 item-7 item-7"      
    }

 .item-1{
       grid-area: item-1;
} .item-2{
    grid-area: item-2;
}
.item-3{
    grid-area: item-3;
}.item-4{
    grid-area: item-4;
}.item-5{
    grid-area: item-5;
}.item-6{
    grid-area: item-6;
}.item-7{
    grid-area: item-7;
}.item-8{
    grid-area: item-8;
}.item-9{
    grid-area: item-9;
}

    .work-item_icon{
      
        font-size: 3rem;
           }
}
.modal{
    transition: all .5s ease-in-out;
    display: none;

}
.modal-show{
    position: fixed;
    background: rgba(0,0,0,0.5);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: grid;
    justify-content: center;
    align-items: center;
    
    
}


.fa-window-close{
    position: absolute;
    font-size: 2rem;
    color:var(--yellow);
    right: 15%;
    bottom: 7%;
    cursor: pointer;
    transition: all .5s ease-out;
    display: none;

}

@media screen and (max-width:500px){
    .fa-window-close{
       right: 10%;
      
    
    }
}
@media screen and (max-width:700px){
    .fa-window-close{
       right: 10%;
    
    }
}

.fa-window-close:hover{
  transform: scale(1.3);
}

.modal_img{
    width: 80vw;
    height: 70vh;
    border:.3rem solid var(--yellow);
    transition: all .5s ease-in-out;
    background: no-repeat center center / cover;
    
}

@media screen and (min-width:760px){
    .modal_img{
        width: 60vw;
        height: 80vh;
        
    }
}


.img-about{
    width: 100%;
    display: flex;
}

.section-padding{
    padding: 3rem;
}

.grid-container{
    max-width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-row-gap: 3rem;
}

.section-title{
    padding: 2rem 1rem;
}

.section-title h1{
    font-size: 4rem;
}
.section-title-underline{
background:var(--yellow);
height: .3rem;
width: 4rem;
margin: 1rem; 
}

.section_text{
    letter-spacing: .2rem;
    line-height: 1.5;
    margin-top: 1rem;
    color:rgb(95, 90, 90);
    font-size: 1.5rem;
}

.special{
    order:-1;
}

.about{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
}

@media screen and (min-width:768px){
    .grid-container_medium{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-column-gap: 4rem;
    }

    .grid-container{
        max-width: 75vw;
        
    }

    .special{
        order:-1;
    }
    
}

#drink{

background-color: var(--brown);
color:var(--brightYellow);
text-transform: capitalize;
padding: 3rem;
}

.drink-form,.drink-card{
    text-align: center;
    display: grid;
    grid-template-columns: 70vh;
    justify-content: center;
    grid-row-gap: 1.2rem;
}
.drink-feedback{
    border:.2rem solid var(--brightYellow);
    padding: .2rem;
    display: none;
}

.error{
    display: block;
    color:red;
    border:.2rem solid red;

}
.success{
    display: block;
    color:green;
    border:.2rem solid green;

}

.drink-card-title,.form-title{
font-size: 3rem;
}

input{
    width: 100%;
    border-radius: .5rem;
    background: rgba(111,87,77,0.6);
    font-size: 1rem;
    padding: .3rem;
    border:none;
    outline: none;
    color:var(--brightYellow);
    
}

input::placeholder{
    text-transform: capitalize;
    color:var(--darkBrown);
    
}

.input-submit{
    background: var(--brightYellow);
    color:var(--black);
    transition: all .5s linear;
    cursor: pointer;
    text-transform: uppercase;

}

.input-submit:hover{
    opacity: .5;
}
.drink-card{
    width: 100%;
}

.card-list{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 2rem;
    margin: auto;
    width: 100%;
}

.person{
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    align-items: center;
    text-align: left;
    grid-gap:1rem;
    grid-row-gap: 1rem;
    border:.1rem solid rgba(111,87,77,.6);
    padding: .2rem;
    border-radius: .5rem;

    
}

.person img{
    border-radius: 50%;
}

@media screen and (min-width:760px){
    .card-list{
        
        grid-template-columns: 1fr 1fr;
       

    }
}

#cont{
    align-items: center;
    text-align:center;
}


.contact-container{
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 1rem;
    
}

.contact-info{
    display: grid;
    justify-content: center;
}
.contact-item{
    margin: 1rem;
    padding: .5rem;
}

.contact_item-icon{
    font-size: 2rem;
    color:var(--brightYellow);
}

.contact-item-title{
    text-transform: uppercase;
    margin: .5rem;
    letter-spacing: .3rem;
    font-style: italic;
}

.contact-item-text{
    font-size: 1rem;
    text-transform: uppercase;
    color:rgb(109, 101, 101)
}

@media screen and (min-width:770px){

.contact-info{
    grid-template-columns: repeat(3,1fr);
    }

}

@media screen and (min-width:950px){

    .contact-container{
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
        }
        .contact-info{
            grid-template-columns: 1fr;
            }
         .map{
            align-self: center;
         }   
    
    }




